.container {
    min-height: 85vh;
    padding: 100px 0;
    background-color: #F7F7F7;
}

.wrapper {
    max-width: 35%;
    margin: 0 auto;
}

.title {
    margin-bottom: 30px;
    color: #333E48;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.wrapper__form {
    background-color: #fff;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 50px 130px;
}

.form {
    margin-bottom: 20px;
}

.button {
    width: 100%;
}

.login_link {
    color: #333E48;
    font-size: 14px;
    text-align: center;
}

.login_link a {
    font-weight: 700;
    color: #333E48;
}